<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.medical.dal.mysql.doctor.DoctorMapper">
    
    <select id="selectDoctorPage" resultType="cn.iocoder.yudao.module.medical.dal.dataobject.doctor.DoctorDO">
        SELECT A.nickname,
        H.name AS hospital_name,
        D.name AS department_name,
        B.*
        FROM medical_doctor B
        INNER JOIN system_users A
        ON A.id = B.user_id
        <if test="reqVO.nickname != null and reqVO.nickname != ''">
            and A.nickname like CONCAT( "%",#{reqVO.nickname},"%")
        </if>
        inner join medical_hospitals H
        on B.hospital_id = H.id
        <if test="reqVO.hospitalName != null and reqVO.hospitalName != ''">
            and H.name like CONCAT("%", #{reqVO.hospitalName},"%")
        </if>
        inner join medical_departments D
        on B.department_id = D.id
        <if test="reqVO.departmentName != null and reqVO.departmentName != ''">
            and D.name like CONCAT("%",#{reqVO.departmentName},"%")
        </if>
        <if test="reqVO.skilled != null and reqVO.skilled != ''">
            and B.skilled like CONCAT("%",#{reqVO.skilled},"%")
        </if>
        <if test="reqVO.createTime != null">
            AND B.create_time &gt;= #{reqVO.createTime[0]}
            AND B.create_time &lt;= #{reqVO.createTime[1]}
        </if>
        LIMIT #{reqVO.pageNo}
        , #{reqVO.pageSize}
    </select>
    <select id="selectTotal" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM medical_doctor B
        INNER JOIN system_users A
        ON A.id = B.user_id
        <if test="reqVO.nickname != null and reqVO.nickname != ''">
            and A.nickname like CONCAT( "%",#{reqVO.nickname},"%")
        </if>
        inner join medical_hospitals H
        on B.hospital_id = H.id
        <if test="reqVO.hospitalName != null and reqVO.hospitalName != ''">
            and H.name like CONCAT("%", #{reqVO.hospitalName},"%")
        </if>
        inner join medical_departments D
        on B.department_id = D.id
        <if test="reqVO.departmentName != null and reqVO.departmentName != ''">
            and D.name like CONCAT("%",#{reqVO.departmentName},"%")
        </if>
        <if test="reqVO.skilled != null and reqVO.skilled != ''">
            and B.skilled like CONCAT("%",#{reqVO.skilled},"%")
        </if>
        <if test="reqVO.createTime != null">
            AND B.create_time &gt;= #{reqVO.createTime[0]}
            AND B.create_time &lt;= #{reqVO.createTime[1]}
        </if>
    </select>
</mapper>
